<table id="tratamientos_libres" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Tratamientos Disponibles</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for tratamiento in tratamientos %}
			<tr>
				<td>{{ tratamiento.nombre }}</td>
				<td>
                    <button class="enlace_accion anadir" data-id='{{ tratamiento.id }}'>Añadir</button>
                </td>
			</tr>
		{% endfor %}
	</tbody>
</table>