<h1>Ya casi estás dentro de Clínica Ayala</h1>

<p>
	Confirma tu dirección de correo haciendo click en el siguiente enlace:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
		    Este enlace caducará en
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Si no has solicitado este correo, ignóralo.
</p>

<p>
	¡Un saludo!
</p>
