{% extends 'base.html.twig' %}

{% block title %}Cliente
{% endblock %}

{% block encabezado %}
	<h1>Espacio para Clientes: {{ cliente.nombre }}</h1>
	<nav>
		<ul>
			<li><a href=" {{ path('app_cambio_password') }} ">Cambiar Contraseña</a></li>
			<li><a href=" {{ path('app_logout') }} ">Cerrar Sesión</a></li>
		</ul>
	</nav>
{% endblock %}

