{% extends 'base.html.twig' %}

{% block title %}Cliente
{% endblock %}

{% block encabezado %}
	<h5 id="titulo_perfil">Espacio para Clientes: {{ cliente.nombre }}</h5>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			<img src=" {{ asset('imagenes/setting_icon.svg') }} " alt="Ajustes de la cuenta" class="icono_setting">		
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" href=" {{ path('app_cambio_password') }} ">Cambiar Contraseña</a></li>
			<li><a class="dropdown-item" href=" {{ path('app_logout') }} ">Cerrar Sesión</a></li>
		</ul>
	</div>
{% endblock %}

