{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Tratamiento
{% endblock %}

{% block main %}
	<h1>Editar Tratamiento Seleccionado:
		{{ nombreTratamiento }}</h1>
	<section id="editar-tratamiento">
		{{ form(editarTratamientoForm) }}
			{% for message in app.flashes('error') %}
				<div class="flash-error">
					{{ message }}
				</div>
			{% endfor %}
		</section>
	{% endblock %}
