{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Crear Cita
{% endblock %}

{% block main %}
	<section id="admin-cita-terapeuta">
    	<h3>Crear Nueva cita para Terapeuta {{ terapeuta.nombre }}</h1>
        <p>La nueva cita aparecerá en el espacio personal del terapeuta después de ser creada.</p>

		{{ form(form) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
{% endblock %}
