{% extends 'admin/indexAdmin.html.twig' %}

{% block title %}Editar Cliente
{% endblock %}

{% block main %}
	<h3>Editar Cliente: {{ cliente.nombre }}</h1>
	<section id="editar-cliente">
		{{form(formEditCliente) }}

		{% for message in app.flashes('error') %}
			<div class="flash-error">
				{{ message }}
			</div>
		{% endfor %}
	</section>
    <a href="{{ path('app_admin_clientes') }}">Cancelar</a>

{% endblock %}
