{% extends 'base.html.twig' %}

{% block title %}Administración
{% endblock %}

{% block header %}
	<h1>Administración</h1>
	<ul>
		<li><a href=" {{ path('app_admin_tratamientos') }} ">Tratamientos</a></li>
	</ul>
{% endblock %}
