/*-----------------------*/
/* Accordion*/
.accordion{
    background-color: $blanco;
    word-wrap: break-word;
    .accordion-button{
        font-family: $fuente-principal !important;
        color: $azul-oscuro !important;
        font-size: large !important;
        font-weight: bold !important;
    }
    .accordion-button:not(.collapsed){
        background-color: $verde;
    }

    @include mixin-media-query-MIN(lg){
        width: 90%;
        margin: 0 auto;
    }
}
