/*------------------------*/
/* Form*/

form{
    margin: 1em auto 4em;
    .h3{
        color: $azul-oscuro;
    }
    label:not(:first-of-type){
        margin-top: 1em;
    }
    input:hover,
    input:focus,
    input:active{
        border-color: $verde !important;
    }
    .form-control,
    .form-select{
        min-width: 200px;
        width: 80vw !important;
        max-width: 500px;
        margin: 0.5em;
        border-width: 2px !important;
        font-family: $fuente-texto;
    }
    .form-check-input{
        width: 20px;
        height: 20px;
        margin-bottom: 2em;
        margin-left: 0.5em;
        border: 2px solid $azul-oscuro;
        &:checked{
            background-color: $verde;
            border-color: $verde;
        }
    }
    label[for="registrar_user_confirmacion"] {
        color: $azul-oscuro;
        font-weight: bold;
        font-family: $fuente-texto;
        display: inline;
    }
    .btn{
        width: fit-content;
        margin-top: 1em;
        font-size: medium;
        background-color: $verde;
        border-color: $verde;
        border-radius: 25px;
        color: $negro;
        &:hover,
        &:focus,
        &:active{
            background-color: $azul-oscuro;
            border-color: $azul-oscuro;
            color: $azul-claro;
        }
    }
    .enlace_form {
        position: absolute;
        margin-top: 1.5em;
        margin-left: 1em;
        text-decoration: none;
        color: $azul-oscuro;
        font-weight: bold;
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active{
            color: $verde;
            text-decoration: underline;
        }
    }

    &.login-change_password{
        max-width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mixin-media-query-MIN(md){
        &.login-change_password{
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            border-radius: 25px;
            box-shadow: 0 0 10px 10px rgba(49, 197, 183,0.2);
        }
        &:not(.login-change_password){
            margin: 3em auto;
            max-width: 600px;
            padding: 2em;
            border-radius: 25px;
            box-shadow: 0 0 10px 10px rgba(49, 197, 183,0.2);
        }
    }

}




