/*------------------------*/
/* Form*/

form{
    margin: 1em;
    .h3{
        color: $azul-oscuro;
    }
    input{
        min-width: 200px;
        width: 80vw !important;
        max-width: 500px;
        margin: 0.5em;
        border-width: 2px !important;
        font-family: $fuente-texto;
        &:hover,
        &:focus,
        &:active{
            border-color: $verde !important;
        }
    }
    .btn{
        width: fit-content;
        margin-top: 1em;
        font-size: medium;
        background-color: $verde;
        border-color: $verde;
        color: $negro;
        &:hover,
        &:focus,
        &:active{
            background-color: $azul-oscuro;
            border-color: $azul-oscuro;
            color: $azul-claro;
        }
    }
    .enlace_form
    {
        text-decoration: none;
        color: $azul-oscuro;
        font-weight: bold;
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active{
            color: $verde;
            text-decoration: underline;
        }
    }

    @include mixin-media-query-MIN(md){
        margin: 3em;
        &.login-change_password{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            border-radius: 25px;
            box-shadow: 0 0 10px 10px rgba(49, 197, 183,0.2);
        }
    }
}




