.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    &.hidden {
        display: none;
    }
    .modal-content {
        max-width: 800px;
        width: 80vw;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(49, 197, 183, 0.3);
        .btn{
            width: fit-content;
            color: $negro;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            &.btn-confirm {
                background-color: $verde;
                margin-right: 10px;
            }
            &.btn-cancel {
                background-color: #f01f31;
            }
        }
        
    }
}

