/*------------------------*/
/* Navbar */

#titulo_perfil{
    align-self: center;
}

.nav-item{
    display: flex;
    align-items: center;
    .nav-link{
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active{
            color: $verde;
            text-decoration: underline;
        }
        &.active{
            pointer-events: none;
        }
    }
}

