/*------------------*/
/* Table*/

table{
    min-width: 200px;
    width: fit-content !important;
    margin: 0 auto;
    vertical-align: middle !important;
    thead{
        tr{
            th{
                font-family: $fuente-texto;
                font-weight: bold;
                &:not(:last-child){
                    padding-right: 2rem;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                font-family: $fuente-texto;
                &.cita_admin{
                    font-style: italic;
                    color: $azul-oscuro;
                }
                &:not(:last-child){
                    padding-right: 2rem;
                }
                .enlace_accion,
                .btn-accion{
                    display: block;
                    margin-bottom: 0.5em;
                    padding: 8px 0 !important;
                    text-align: start !important;
                    font-family: $fuente-texto;
                    color: $azul-oscuro !important;
                    text-decoration: none;
                    margin-right: 2rem;
                    border: none;
                    background-color: transparent;
                    &.reiniciar_actual{
                        color: $negro !important;
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        color: $verde !important;
                    }
                }
                p:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
}