/*------------------------------------*\
/* Footer */

footer{
    position: relative;
    background-color: $azul-oscuro;
    display: flex;
    #contenedor_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        @include mixin-media-query-MAX(md){
            flex-direction: column;
        }

        .contacto_lista{
            list-style: none;
            li{
                color: $verde;
                margin: 1em 3em;
                @include mixin-media-query-MAX(md){
                    margin: 2em 0;
                }
                .icono_footer{
                    width: 30px;
                    margin-right: 10px;
                }
                a{
                    color: $verde !important;
                    &:hover,
                    &:focus,
                    &:active{
                        color: $azul-claro !important;
                    }
                }
            }
        }
        .logo{
            &:hover,
            &:focus,
            &:active{
                color: $azul-claro;
            }
        }
    }
    
    @include mixin-media-query-MAX(md){
        flex-direction: column;
        gap: 1em;
        .contacto_lista{
            margin-right: 0;
        }
    }
}
