/*---------------------------------------*/
/* HEADER */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  @include mixin-media-query-MAX(md){
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 1em;
  }
  #cta_perfil_home{
    display: flex;
    .cta{
      align-self: center;
      text-decoration: none;
      width: fit-content;
      margin-right: 10px;
      padding: 10px;
      border-radius: 25px;
      background-color: $azul-claro;
      color: $azul-oscuro;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active{
        background-color: $azul-oscuro;
        color: $verde;
      }
    }
    #enlace_perfil_login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      text-decoration: none;
      color: $azul-oscuro;
      font-weight: bold;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active{
        color: $verde;
        opacity: 0.8;
        text-decoration: underline;
      }
      #icon_user{
        align-self: center;
        width: 30px;
      }
    }
  }

  .dropdown{
    display: flex;
    padding-left: 10px;

    .dropdown-toggle{
      background-color: $blanco;
      border: none;
      &:hover{
          background-color: $verde;
          opacity: 0.8;
      }
      &:after{
        color: $azul-oscuro;
      }
      .icono_setting{
        width: 30px;
      }
    }
  
    .dropdown-menu{
      .dropdown-item{
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active{
            background-color: $azul-claro;
        }
        .icono_tools{
          width: 30px;
          margin-right: 5px;
        }
      }
    }
  }
}