<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Clínica Ayala
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				<a class="logo" href=" {{ path('app_home') }} ">Clínica Ayala</a>	
				{% block encabezado %}
				{% endblock %}
			</header>
			<hr/>
			<main>
				{% block main %}{% endblock %}
				{% if app.request.cookies.get('visitada') is empty %}
					<div id="toast_primera_vez">
						<div class="toast show align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="d-flex">
								<div class="toast-body">
									<p>¡Hola! Esta web es mi proyecto final de mi FP de desarrollo web. <span>NO ES UNA CLÍNICA REAL</span>. Los datos de contacto tampoco son reales. 
										Si has llegado hasta aquí sabiendo ¡eso espero que te guste la experiencia!
									</p>
								</div>
								<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
						</div>
					</div>
				{% endif %}
			</main>
			<footer>
				<a class="logo" href=" {{ path('app_home') }} ">Clínica Ayala</a>	
				<ul id="contacto_footer" class="contacto_lista">
					<li>Avenida Francisco Ayala s/n</li>
					<li><a href="tel:+34000000000"> +34 000000000</a></li>
				</ul>
			</footer>
			<div id="relleno_footer"></div>
		{% endblock %}
	</body>
</html>
