<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Clínica Ayala
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				{% block header %}
					<h1>Clínica Ayala</h1>
					<a href="{{ path(perfil) }}">{{ nombre }}</a>
				{% endblock %}
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		{% endblock %}
	</body>
</html>
