<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Clínica Ayala
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				<h1><a class="logo" href=" {{ path('app_home') }} ">Clínica Ayala</a></h1>	
				<section id="hamburguesa-navbar"><span></span></section>
				{% block encabezado %}
				{% endblock %}
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer>
				<h1><a class="logo" href=" {{ path('app_home') }} ">Clínica Ayala</a></h1>	
				<ul id="contacto_footer" class="contacto_lista">
					<li>Avenida Francisco Ayala s/n</li>
					<li><a href="tel:+34000000000"> +34 000000000</a></li>
				</ul>
			</footer>
		{% endblock %}
	</body>
</html>
