{% extends 'terapeuta/index.html.twig' %}
{% block title %}Tratamientos
{% endblock %}
{% block main %}
	<section id="tratamientosTerapeuta">
		<h3>Tratamientos</h3>
		{{ tratamientosTerapeuta|raw }} <!-- Se ha añadido el filtro raw para que se muestre la tabla -->
	</section>
	
	<section id='tratamientosDisponibles'>
		<h3>Tratamientos Disponibles</h3>
		{{ tratamientosClinica|raw }} 
	</section>
{% endblock %}
